* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 
  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #3a46f180, #84d2fa);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
  }
 
  h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #081736;
    font-family: 'Courier New', Courier, monospace;
  }
  button{
    background-color: rgb(17, 25, 68);
    font-size: larger;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
  }
 
  p {
    font-size: 1.2rem;
    color: #444;
  }
 


